#h1 {
  text-decoration:underline;
  font-size:50px;
}

#button1 {
  color:black;
  font-size:20px;
  font-weight:bold;
}

#p1 {
  color:green;
  font-size:20px;
  font-style:italic;
  font-family:Lucida;
}

#image1 {
  width:200px;
  height:200px;
  position:absolute;
  left:300px;
  top:100px;
}

#image2 {
  width:200px;
  height:200px;
  position:absolute;
  left:300px;
  top:340px;
  display:none;
}
#button2 {
  color:black;
  background-color:#0f0;
  font-size:20px;
  font-weight:bold;
  display:none;
  position:absolute;
  left:75px;
}

#button3 {
  color:black;
  background-color:#f00;
  font-size:20px;
  font-weight:bold;
  display:none;
  position:absolute;
  left:160px;
}

#button4 {
  color:yellow;
  font-size:30px;
  display:none;
  background-color:#00f;
  font-weight:bold;
  position:absolute;
  left:35px;
}

#p2 {
  color:#0f0;
  font-size:20px;
  border-color:#00f;
}

#button5 {
  color:black;
  background-color:#f00;
  font-size:15px;
  font-weight:bold;
  display:none;
  position:absolute;
  left:100px;
}

#p0 {
  color:#00f;
  font-style:italic;
  display:block;
  font-size:20px;
}

#p3 {
  font-size:20px;
  color:#f00;
  display:none;
}
